:root{
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteSecundaria: "Raleway", sans-serif;
  --corBotaoHover: #F4D5CD;
  --corBotao: #EAAC9D;
  
}



.div-principal {
    width: 60%;
    height: auto;
    padding: 2%;
    background-color: white;
    margin-left: 20%;
    margin-top: 3%;
  }
  
  .titulo {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .botao-endereco button {
    background: var(--corBotao);
    margin-left: 2%;
    justify-content: right;
  }

  .botao-endereco button:hover{
    background-color: white;
    border: 1px solid var(--corBotao);
    color: var(--corBotao);
  }
  
  .lista-enderecos {
    list-style: none;
    padding: 0;
  }
  
  .lista-enderecos li {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .lista-enderecos li p {
    margin: 0;
    color: #555;
  }
  
  .mensagem-vazia {
    text-align: center;
    color: #999;
  }
  