:root{
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteSecundaria: "Raleway", sans-serif;
  --corBotaoHover: #F4D5CD;
  --corBotao: #EAAC9D;
  
}

.container-botao{
  width: 100%;
  max-width: 100%;
  margin: 2px;
 
}

.container-botao button{
  width: 100%;
  background-color: var(--corBotao);
  padding: 10px;
  border: none;
  border-radius: 14px;
  color: white;
}

.container-botao button:hover{
  background-color: white;
  color: var(--corBotao);
  border: 1px solid var(--corBotao);
  transition: 0.5s;
  font-weight: bold;
}