.div-endereco{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div-endereco-linha{
  width: 50%;
  margin-bottom: 10px;
}

.estado-cidade{
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

 .estado{
width: 20%;
}

 .cidade{
  width: 100%;
}

.select{
  padding: 5px;
}