.confirmar-pedido {
  text-align: center;
  margin: 20px;
}

.confirmar-pedido h1 {
  font-size: 24px;
  color: #4CAF50;
}

.confirmar-pedido h2 {
  font-size: 18px;
  color: #FF0000;
}

.imagem-pagamento {
  width: 20%;
  height: 20%;
  margin: 10px 0;
}