@charset "UTF-8";

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

/* Variáveis globais */
:root {
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteSecundaria: "Raleway", sans-serif;
  --corPrincipal: #73283D;
  --corSecundaria: #555;
  --corFundoMenu: #CECBDE;
  --corTextoMenu: #3d3c3c;
  --corHoverMenu: #9088ba;
  --corHoverTextoMenu: #ffff;
  --radiusBorda: 7px;
  --paddingInput: 7px 20px;
  --larguraInput: 300px;
  --paddingMenu: 14px 16px;
}

/* Reset básico */
* {
  font-family: var(--fontePrincipal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do menu */
.menu {
  padding: 7px 0;
  background-color: var(--corFundoMenu);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.068);
}

.menu h1 {
  font-family: var(--fonteSecundaria);
  color: var(--corSecundaria);
  margin: 0; /* Remove o espaço padrão */
}

.teste {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--corFundoMenu);
  padding: 0 15px;
}

.menu .teste ul {
  display: flex;
  list-style: none;
}

.menu .teste li {
  margin-right: 10px; /* Espaçamento entre itens do menu */
  margin-bottom: 0; /* Remove qualquer margem inferior */
}

.teste li a {
  display: block;
  color: var(--corTextoMenu);
  text-decoration: none;
  text-align: center;
  padding: var(--paddingMenu);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para hover */
}

.menu li a:hover {
  background-color: white;
  color: var(--corHoverMenu);
  border-radius: var(--radiusBorda);
 transition: 0.5s;
}

/* Estilos do campo de entrada */
.teste input {
  width: var(--larguraInput);
  padding: var(--paddingInput);
  border-radius: 20px;
  border: none;
  outline: none; /* Remove o outline padrão */
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease; /* Transição suave para foco */
}

.teste input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Adiciona um efeito de sombra no foco */
}

/* Responsividade básica */
@media (max-width: 600px) {
  .teste {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu .teste ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .menu .teste li {
    margin: 0;
  }

  .teste input {
    width: 100%; /* Ajusta a largura para o tamanho do container */
    margin-right: 0; /* Remove a margem lateral */
  }
}
