
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


:root{
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteSecundaria: "Raleway", sans-serif;
}

*{
  font-family: var(--fontePrincipal);
}

.body{
  max-width: 100%;
  display: flex;
}

.corpo{
  max-width: 100%;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.item-carrinho{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 20px;

}
.logo h1{
  font-family: var(--fonteSecundaria);
  color: #555;
  width: 100%;
  align-items: center;
}

.logo{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 7px;
  display: flex;
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.068);
}


.footer{
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  color: #fff;
  background-color: #73283D;
  margin-top: 20px;
  text-align: center;
}
