
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


:root{
  --fontePrincipal: "Montserrat", sans-serif;
  --fonteSecundaria: "Raleway", sans-serif;
  text-align: center;
}

*{
  font-family: var(--fontePrincipal);
}

.body{
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.corpo{
  max-width: 100%;
  width: 100%;
}

.card-lancamentos{
  margin-top: 18px;
  color: #555;
  font-family: var(--fonteSecundaria);
}

.footer{
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  color: #fff;
  background-color: #73283D;
}