.container-fechar-pedido{
  align-items: center;
  display: flex;
  flex-direction: column;
}

hr{
  width: 100%;
}


input {
  margin: 0.4rem;
}

input#endereco{
  border-radius: 50%;
}

.novo-endereco > p > a{
  margin: 1.6rem;
  text-decoration: none;
  color: #73283D;
  font-weight: bold;
}

.endereco{
  width: 90%;
  margin-bottom: 20px;
}

.forma-pagamento{
  width: 90%;
}